<ng-container>
    <div class="day-container">
        <div class="card-container absolute-center">
            <div class="slider-container">
                <div class="background-div-1"></div>
                <div class="background-div-2"></div>
                <div class="background-div-3"></div>
            </div>
            <div class="row-circle">
                <div class="circle-1" (click)="onclickRadioBtn('1')"></div>
                <div class="circle-2" (click)="onclickRadioBtn('2')"></div>
                <div class="circle-3" (click)="onclickRadioBtn('3')"></div>
            </div>
            <div class="active-circle"></div>
        </div>
    </div>
</ng-container>