<ng-container>
    <div class="day-container">
        <div class="card-container absolute-center">
            <div class="card-header">
                <div class="sub-header1 row">
                    <span class="sub-header-bold">WEEKLY REPORT</span>
                    <span class="sub-header-light">Revenue</span>
                </div>
                <div class="sub-header2 row">
                    <span class="sub-header-light">01 Feb - 07 Feb</span>
                    <span class="sub-header-bold">$ 3672.71</span>
                </div>
            </div>
            <div class="card-content">
                <div class="parameter row">
                    <span class="parameter-circle1"></span>
                    <span class="parameter-value1">Views</span>
                    <span class="parameter-circle2"></span>
                    <span class="parameter-value2">Purchases</span>
                </div>
                <div class="statistics">
                    <div class="line absolute-top"></div>
                    <svg class="polyline-red absolute-top">
                        <polyline _ngcontent-uwm-c20="" _ngcontent-hor-c20=""
                            points="1,45 45,48 89,31 130,31 176,35 221,48 272,43"></polyline>
                    </svg>
                    <div class="days row absolute-top hover-item-red">
                        <div class="hover-item-red-1">
                            <div class="hover-text-1">56</div>
                        </div>
                        <div class="hover-item-red-2">
                            <div class="hover-text-2">48</div>
                        </div>
                        <div class="hover-item-red-3">
                            <div class="hover-text-3">80</div>
                        </div>
                        <div class="hover-item-red-4">
                            <div class="hover-text-4">80</div>
                        </div>
                        <div class="hover-item-red-5">
                            <div class="hover-text-5">72</div>
                        </div>
                        <div class="hover-item-red-6">
                            <div class="hover-text-6">48</div>
                        </div>
                        <div class="hover-item-red-7">
                            <div class="hover-text-7">56</div>
                        </div>
                    </div>
                    <div class="days row absolute-center points-data-red">
                        <span class="point-1" (mouseenter)="mouseEnter('hover-item-red-1') "
                            (mouseleave)="mouseLeave('hover-item-red-1')"></span>
                        <span class="point-2" (mouseenter)="mouseEnter('hover-item-red-2') "
                            (mouseleave)="mouseLeave('hover-item-red-2')"></span>
                        <span class="point-3" (mouseenter)="mouseEnter('hover-item-red-3') "
                            (mouseleave)="mouseLeave('hover-item-red-3')"></span>
                        <span class="point-4" (mouseenter)="mouseEnter('hover-item-red-4') "
                            (mouseleave)="mouseLeave('hover-item-red-4')"></span>
                        <span class="point-5" (mouseenter)="mouseEnter('hover-item-red-5') "
                            (mouseleave)="mouseLeave('hover-item-red-5')"></span>
                        <span class="point-6" (mouseenter)="mouseEnter('hover-item-red-6') "
                            (mouseleave)="mouseLeave('hover-item-red-6')"></span>
                        <span class="point-7" (mouseenter)="mouseEnter('hover-item-red-7') "
                            (mouseleave)="mouseLeave('hover-item-red-7')"></span>
                    </div>
                    <div class="line absolute-center"></div>
                    <svg class="polyline-blue absolute-bottom">
                        <polyline _ngcontent-hor-c20="" points="0,61 45,95 90,60 135,60 177,68 221,77 271,70">
                        </polyline>
                    </svg>
                    <div class="days row absolute-bottom hover-item-blue">
                        <div class="hover-item-blue-1">
                            <div class="hover-text-1">78</div>
                        </div>
                        <div class="hover-item-blue-2">
                            <div class="hover-text-2">12</div>
                        </div>
                        <div class="hover-item-blue-3">
                            <div class="hover-text-3">80</div>
                        </div>
                        <div class="hover-item-blue-4">
                            <div class="hover-text-4">80</div>
                        </div>
                        <div class="hover-item-blue-5">
                            <div class="hover-text-5">64</div>
                        </div>
                        <div class="hover-item-blue-6">
                            <div class="hover-text-6">48</div>
                        </div>
                        <div class="hover-item-blue-7">
                            <div class="hover-text-7">56</div>
                        </div>
                    </div>
                    <div class="days row absolute-bottom points-data-blue">
                        <span class="point-1" (mouseenter)="mouseEnter('hover-item-blue-1') "
                            (mouseleave)="mouseLeave('hover-item-blue-1')"></span>
                        <span class="point-2" (mouseenter)="mouseEnter('hover-item-blue-2') "
                            (mouseleave)="mouseLeave('hover-item-blue-2')"></span>
                        <span class="point-3" (mouseenter)="mouseEnter('hover-item-blue-3') "
                            (mouseleave)="mouseLeave('hover-item-blue-3')"></span>
                        <span class="point-4" (mouseenter)="mouseEnter('hover-item-blue-4') "
                            (mouseleave)="mouseLeave('hover-item-blue-4')"></span>
                        <span class="point-5" (mouseenter)="mouseEnter('hover-item-blue-5') "
                            (mouseleave)="mouseLeave('hover-item-blue-5')"></span>
                        <span class="point-6" (mouseenter)="mouseEnter('hover-item-blue-6') "
                            (mouseleave)="mouseLeave('hover-item-blue-6')"></span>
                        <span class="point-7" (mouseenter)="mouseEnter('hover-item-blue-7') "
                            (mouseleave)="mouseLeave('hover-item-blue-7')"></span>
                    </div>
                    <div class="line absolute-bottom"></div>
                </div>
                <div class="days row">
                    <span class="days-content">MON</span>
                    <span class="days-content">TUE</span>
                    <span class="days-content">WED</span>
                    <span class="days-content">THU</span>
                    <span class="days-content">FRI</span>
                    <span class="days-content">SAT</span>
                    <span class="days-content">SUN</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>