<ng-container>
    <div class="day-container">
        <div class="card-container absolute-center">
            <div class="head">
                <div class="title">Friday</div>
                <div class="subtitle">March 4, 2016</div>
            </div>
            <ul>
                <!-- <li>
                    <input type="checkbox" id="item-1" name="item-1">
                    <label for="item-1" class="text">Create a list</label>
                    <label for="item-1" class="button"></label>
                    <svg width="15px" height="10px" class="checkmark">
                        <polyline points="1,5 6,9 14,1"></polyline>
                    </svg>
                </li> -->
            </ul>
        </div>
    </div>
</ng-container>