<ng-container>
    <div class="day-container">
        <div class="card-container absolute-center">
            <div class="card-profile">
                <img class="background-image" src="https://100dayscss.com/codepen/13-1-header.jpg">
                <img class="profile-picture" src="https://100dayscss.com/codepen/13-1.jpg">
                <div class="background-color">
                    <div class="profile-name">Julia Toth</div>
                </div>
                <div class="cancel-button" (click)="onClickCancelBtn()" style="top: 12px;left: 270px;">
                    <div class="cancel-text"><i class="material-icons">close</i></div>
                </div>

            </div>
            <div class="card-grid">
                <div class="row">
                    <div class="image-1" (click)="onClickAddBtn()">
                        <img src="https://100dayscss.com/codepen/13-1.jpg">
                        <div class="button-image-1" style="left: 55px;top: 55px;">
                            <div class="btn-text">+</div>
                        </div>
                    </div>
                    <div class="image-2" (click)="onClickAddBtn()">
                        <img src="https://100dayscss.com/codepen/13-2.jpg">
                        <div class="button-image-2" style="left: 215px;top: 55px;">
                            <div class="btn-text">+</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="image-3" (click)="onClickAddBtn()">
                        <img src="https://100dayscss.com/codepen/13-3.jpg">
                        <div class="button-image-3" style="left: 55px;top: 215px;">
                            <div class="btn-text">+</div>
                        </div>
                    </div>
                    <div class="image-4" (click)="onClickAddBtn()">
                        <img src="https://100dayscss.com/codepen/13-4.jpg">
                        <div class="button-image-4" style="left: 215px;top: 215px;">
                            <div class="btn-text">+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>