<ng-container>
    <div class="day-container">
        <div class="card-container absolute-center">
            <div class="row">
                <div class="card-left">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <div class="profile-image">
                        <img src="https://100dayscss.com/codepen/jessica-potter.jpg" alt="Jessica Potter" width="80"
                            height="80">
                    </div>
                </div>
                <div class="card-right">
                </div>
            </div>
        </div>
    </div>
</ng-container>