<ng-container>
    <div class="day-container">
        <div class="card-container absolute-center">
            <p class="card-text">I know quite certainly that I myself have no special talent; curiosity,
                <span class="obsession-word" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()">obsession</span>
                and dogged endurance,combined with
                self-criticism have
                brought me to my ideas.
            </p>
            <span class="tooltip">
                <div class="tooltip-header">[əbˈseʃ(ə)n]</div>
                <div class="tooltip-body">
                    <b>Obsession</b>, a persistent disturbing preoccupation with an often
                    unreasonable idea or
                    feeling.
                </div>
            </span>
        </div>
    </div>
</ng-container>